.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  padding: 1rem;
}

.add-item input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 2px #00000050;
  font-size: 1rem;
}

.add-item input::placeholder {
  color: #8a8a8a;
  font-size: 1rem;
  text-align: center;
}

.add-item button {
  padding: 10px 20px;
  border: none;
  margin: 0.5em;
  font-size: 1em;
  color: #ffffff;
  background-color: #119300;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.5s all;

  transition-property: box-shadow all;
}

.add-item button:hover {
  cursor: pointer;
}

.add-item button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.teste {
  background-color: black;
}
